/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

.DS_Store
Thumbs.db
/tests/*.xml
composer.lock
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

*.swp
*.swo
*.bak
*.tmp

/.github
/.gitlab-ci.yml
/.travis.yml

*.sublime-project
*.sublime-workspace